<table mat-table [dataSource]="dataSource" class="mat-elevation-z5">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> Id </th>
    <td mat-cell *matCellDef="let student"> {{student.id}} </td>
  </ng-container>

  <ng-container matColumnDef="fullname">
    <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
    <td mat-cell *matCellDef="let student"> {{student | fullName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let student"> {{student.email}} </td>
  </ng-container>

  <ng-container matColumnDef="actions" class="students-table-actions-column">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let student" class="students-table-actions-cells" > 
      <button mat-icon-button (click)="redirectToStudentDetail(student.id)" >
        <mat-icon>visibility</mat-icon>
      </button> 
      <button *ngIf="authUser?.role === 'ADMIN'" mat-icon-button (click)="editStudent.emit(student)">
        <mat-icon>edit</mat-icon>
      </button>
      <button *ngIf="authUser?.role === 'ADMIN'" mat-icon-button (click)="deleteStudent.emit(student.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


