<div class="sidebar" [ngClass]="collapsed ? 'sidebar-collapsed' : ''">
  <div class="logo-container">
    <button class="logo" (click)="toogleCollapse()">H</button>
    <div class="logo-text" *ngIf="collapsed">HackHub</div>
    <button
      type="button"
      class="btn-closed"
      *ngIf="collapsed"
      (click)="closeSidebar()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <mat-nav-list class="sidebar-list">
    <div class="sidebar-list-item">
      <a
        #homeLink="routerLinkActive"
        routerLinkActive
        [activated]="homeLink.isActive"
        routerLink="home"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">home</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Inicio</span>
        </div>
      </a>
    </div>

    <div *ngIf="authUser?.role === 'ADMIN'" class="sidebar-list-item">
      <a
        #usersLink="routerLinkActive"
        routerLinkActive
        [activated]="usersLink.isActive"
        routerLink="users"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">person</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Usuarios</span>
        </div>
      </a>
    </div>

    <div class="sidebar-list-item">
      <a
        #studentsLink="routerLinkActive"
        routerLinkActive
        [activated]="studentsLink.isActive"
        routerLink="students"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">school</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Estudiantes</span>
        </div>
      </a>
    </div>
    
    <div class="sidebar-list-item">
      <a
        #coursesLink="routerLinkActive"
        routerLinkActive
        [activated]="coursesLink.isActive"
        routerLink="courses"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">menu_book</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Cursos</span>
        </div>
      </a>
    </div>

    <div class="sidebar-list-item">
      <a
        #enrollmentLink="routerLinkActive"
        routerLinkActive
        [activated]="enrollmentLink.isActive"
        routerLink="enrollment"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">assignment_add</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Inscripciones</span>
        </div>
      </a>
    </div>

    <div class="sidebar-list-item">
      <a
        (click)="logOut()"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">logout</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Cerrar sesión</span>
        </div>
      </a>
    </div>
  </mat-nav-list>
</div>
