<div class="sidebar" [ngClass]="collapsed ? 'sidebar-collapsed' : ''">
  <button class="btn-menu" (click)="toogleCollapse()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-nav-list class="sidebar-list">
    <div class="sidebar-list-item">
      <a
        #homeLink="routerLinkActive"
        routerLinkActive
        [ngClass]="homeLink.isActive ? 'active' : ''"
        routerLink="home"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">home</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Inicio</span>
        </div>
      </a>
    </div>

    <div
      *ngIf="(authUser$ | async)?.role === 'ADMIN'"
      class="sidebar-list-item"
    >
      <a
        #usersLink="routerLinkActive"
        routerLinkActive
        [ngClass]="usersLink.isActive ? 'active' : ''"
        routerLink="users"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">person</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Usuarios</span>
        </div>
      </a>
    </div>

    <div class="sidebar-list-item">
      <a
        #studentsLink="routerLinkActive"
        routerLinkActive
        [ngClass]="studentsLink.isActive ? 'active' : ''"
        routerLink="students"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">school</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Estudiantes</span>
        </div>
      </a>
    </div>

    <div class="sidebar-list-item">
      <a
        #coursesLink="routerLinkActive"
        routerLinkActive
        [ngClass]="coursesLink.isActive ? 'active' : ''"
        routerLink="courses"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">menu_book</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Cursos</span>
        </div>
      </a>
    </div>

    <div class="sidebar-list-item">
      <a
        #enrollmentLink="routerLinkActive"
        routerLinkActive
        [ngClass]="enrollmentLink.isActive ? 'active' : ''"
        routerLink="enrollment"
        mat-list-item
        class="sidebar-list-link"
      >
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">assignment_add</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Inscripciones</span>
        </div>
      </a>
    </div>

    <div class="sidebar-list-item">
      <a (click)="logOut()" mat-list-item class="sidebar-list-link">
        <div class="sidebar-list-link-content">
          <mat-icon class="sidebar-list-icon">logout</mat-icon>
          <span class="sidebar-link-text" *ngIf="collapsed">Cerrar sesión</span>
        </div>
      </a>
    </div>
  </mat-nav-list>
</div>
