<div class="enrollment-dialog-header">
  <h1 mat-dialog-title appHeadline>Formulario de inscripción</h1>
  <button matDialogClose mat-icon-button type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form [formGroup]="enrollmentForm" class="enrollment-form-container">
    <div class="enrollment-form-inputs container">
      <div class="row">
        <div class="col-6">
          <mat-form-field class="students-form-field">
            <mat-label>Estudiante</mat-label>
            <mat-select formControlName="studentId">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let student of students" [value]="student.id">
                {{student | fullName}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-6">
          <mat-form-field class="courses-form-field">
            <mat-label>Curso</mat-label>
            <mat-select formControlName="courseId">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let course of courses" [value]="course.id">
                {{course.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="enrollment-dialog-buttons">
  <button
    mat-stroked-button
    color="primary"
    type="button"
    (click)="onClearInputs()"
  >
    Limpiar
  </button>
  <button (click)="onCreate()" mat-flat-button color="primary" type="submit">Guardar</button>
</div>

