<div class="course-dialog-header">
  <h1 mat-dialog-title appHeadline>Registrar curso</h1>
  <button matDialogClose mat-icon-button type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form [formGroup]="courseForm" class="course-form-container">
    <mat-form-field class="col-12">
      <mat-label>Nombre</mat-label>
      <input formControlName="name" matInput type="text" />
      <mat-error>{{
        courseForm.get("name")?.errors | errorsFeedback
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Docente</mat-label>
      <input formControlName="teacher" matInput type="text" />
      <mat-error>{{
        courseForm.get("teacher")?.errors | errorsFeedback
      }}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="course-dialog-buttons">
  <button mat-stroked-button color="primary" (click)="onClearInputs()">
    Limpiar
  </button>
  <button (click)="onCreate()" mat-flat-button color="primary">Guardar</button>
</div>
