<div class="student-dialog-header">
  <h1 mat-dialog-title appHeadline>Registrar estudiante</h1>
  <button matDialogClose mat-icon-button type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form [formGroup]="studentForm" class="student-form-container">
    <mat-form-field class="col-12">
      <mat-label>Nombre</mat-label>
      <input formControlName="firstName" matInput type="text" />
      <mat-error>{{
        studentForm.get("firstName")?.errors | errorsFeedback
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Apellido</mat-label>
      <input formControlName="lastName" matInput type="text" />
      <mat-error>{{
        studentForm.get("lastName")?.errors | errorsFeedback
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="text" />
      <mat-error>{{
        studentForm.get("email")?.errors | errorsFeedback
      }}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="student-dialog-buttons">
  <button
    mat-stroked-button
    color="primary"
    type="button"
    (click)="onClearInputs()"
  >
    Limpiar
  </button>
  <button (click)="onCreate()" mat-flat-button color="primary" type="submit">
    Guardar
  </button>
</div>
