<div class="user-dialog-header">
  <h1 mat-dialog-title appHeadline>Registrar usuario</h1>
  <button matDialogClose mat-icon-button type="button">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div mat-dialog-content>
  <form [formGroup]="userForm" class="user-form-container">
    <mat-form-field class="col-12">
      <mat-label>Nombre</mat-label>
      <input formControlName="firstName" matInput type="text" />
      <mat-error>{{
        userForm.get("firstName")?.errors | errorsFeedback
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Apellido</mat-label>
      <input formControlName="lastName" matInput type="text" />
      <mat-error>{{
        userForm.get("lastName")?.errors | errorsFeedback
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Email</mat-label>
      <input formControlName="email" matInput type="text" />
      <mat-error>{{
        userForm.get("email")?.errors | errorsFeedback
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Contraseña</mat-label>
      <input
        formControlName="password"
        matInput
        [type]="revealPassword ? 'text' : 'password'"
      />
      <button
        (click)="revealPassword = !revealPassword"
        matSuffix
        mat-icon-button
        type="button"
      >
        <mat-icon>visibility</mat-icon>
      </button>
      <mat-error>{{
        userForm.get("password")?.errors | errorsFeedback
      }}</mat-error>
    </mat-form-field>

    <mat-form-field class="col-12">
      <mat-label>Rol</mat-label>
      <mat-select formControlName="role">
        <mat-option *ngFor="let rol of roles" [value]="rol">
          {{ rol }}
        </mat-option>
      </mat-select>
      <mat-error>{{ userForm.get("role")?.errors | errorsFeedback }}</mat-error>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="user-dialog-buttons">
  <button
    mat-stroked-button
    color="primary"
    type="button"
    (click)="onClearInputs()"
  >
    Limpiar
  </button>
  <button (click)="onCreate()" mat-flat-button color="primary" type="submit">
    Guardar
  </button>
</div>
