<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="centered-column"> ID </th>
    <td mat-cell *matCellDef="let enrollment" class="centered-column"> {{enrollment.id}} </td>
  </ng-container>

  <ng-container matColumnDef="studentId">
    <th mat-header-cell *matHeaderCellDef class="centered-column"> Estudiante ID </th>
    <td mat-cell *matCellDef="let enrollment" class="centered-column"> {{enrollment.studentId}} </td>
  </ng-container>

  <ng-container matColumnDef="studentFullName">
    <th mat-header-cell *matHeaderCellDef> Estudiante</th>
    <td mat-cell *matCellDef="let enrollment"> {{enrollment.student | fullName}} </td>
  </ng-container>

  <ng-container matColumnDef="courseId">
    <th mat-header-cell *matHeaderCellDef class="centered-column"> Curso ID </th>
    <td mat-cell *matCellDef="let enrollment" class="centered-column"> {{enrollment.courseId}} </td>
  </ng-container>

  <ng-container matColumnDef="courseName">
    <th mat-header-cell *matHeaderCellDef> Curso </th>
    <td mat-cell *matCellDef="let enrollment"> {{enrollment.course.name}} </td>
  </ng-container>

  <ng-container matColumnDef="enrollmentDate">
    <th mat-header-cell *matHeaderCellDef class="centered-column"> Fecha de inscripción </th>
    <td mat-cell *matCellDef="let enrollment" class="centered-column"> {{enrollment.enrollmentDate | date: 'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="centered-column"> Acciones </th>
    <td mat-cell *matCellDef="let enrollment" class="centered-column actions-cells"> 
      <button mat-icon-button (click)="editEnrollment.emit(enrollment)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteEnrollment.emit(enrollment.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-headers"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-rows"></tr>
</table>




