<table mat-table [dataSource]="dataSource" class="mat-elevation-z5">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let enrollment"> {{enrollment.id}} </td>
  </ng-container>

  <ng-container matColumnDef="studentId">
    <th mat-header-cell *matHeaderCellDef> Estudiante ID </th>
    <td mat-cell *matCellDef="let enrollment"> {{enrollment.studentId}} </td>
  </ng-container>

  <ng-container matColumnDef="studentFullName">
    <th mat-header-cell *matHeaderCellDef> Estudiante</th>
    <td mat-cell *matCellDef="let enrollment"> {{enrollment.student | fullName}} </td>
  </ng-container>

  <ng-container matColumnDef="courseId">
    <th mat-header-cell *matHeaderCellDef> Curso ID </th>
    <td mat-cell *matCellDef="let enrollment"> {{enrollment.courseId}} </td>
  </ng-container>

  <ng-container matColumnDef="courseName">
    <th mat-header-cell *matHeaderCellDef> Curso </th>
    <td mat-cell *matCellDef="let enrollment"> {{enrollment.course.name}} </td>
  </ng-container>

  <ng-container matColumnDef="enrollmentDate">
    <th mat-header-cell *matHeaderCellDef> Fecha de inscripción </th>
    <td mat-cell *matCellDef="let enrollment"> {{enrollment.enrollmentDate | date: 'short'}} </td>
  </ng-container>

  <ng-container matColumnDef="actions" class="enrollments-table-actions-column">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let enrollment" class="enrollments-table-actions-cells" > 
      <button mat-icon-button (click)="editEnrollment.emit(enrollment)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteEnrollment.emit(enrollment.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>




