$purple: (
    50 : #f4ebff,
    100 : #e3ceff,
    200 : #d0adff,
    300 : #bd8cff,
    400 : #ae73ff,
    500 : #a05aff,
    600 : #9852ff,
    700 : #8e48ff,
    800 : #843fff,
    900 : #732eff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #e5daff,
    A700 : #d3c0ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$blue: (
    50 : #ebedff,
    100 : #ced2ff,
    200 : #adb4ff,
    300 : #8c95ff,
    400 : #737fff,
    500 : #5a68ff,
    600 : #5260ff,
    700 : #4855ff,
    800 : #3f4bff,
    900 : #2e3aff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #dadbff,
    A700 : #c0c3ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);