<table mat-table [dataSource]="dataSource">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef class="centered-column"> ID </th>
    <td mat-cell *matCellDef="let user" class="centered-column"> {{user.id}} </td>
  </ng-container>

  <ng-container matColumnDef="fullname">
    <th mat-header-cell *matHeaderCellDef> Nombre completo </th>
    <td mat-cell *matCellDef="let user"> {{user | fullName}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Email </th>
    <td mat-cell *matCellDef="let user"> {{user.email}} </td>
  </ng-container>

  <ng-container matColumnDef="role">
    <th mat-header-cell *matHeaderCellDef class="centered-column"> Rol </th>
    <td mat-cell *matCellDef="let user" class="centered-column"> {{user.role}} </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef class="centered-column"> Acciones </th>
    <td mat-cell *matCellDef="let user" class="centered-column actions-cells" >
      <button mat-icon-button (click)="editUser.emit(user)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteUser.emit(user.id)" class="btn-delete">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-headers"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-rows"></tr>
</table>